.menu-container {
    background-color: green;
    height: 300px;
    width: max-content;
}

.header {
    color: black;
}

.options-container {
    display: flex;
}

.options-container > div:first-child {
    margin-left: 5px;
}

.options-container > div {
    width: max-content;
    margin-right: 10px;
    background-color: grey;
    border: 1px solid white;
    border-radius: 12px;
    padding: 5px;
}